
<div class="container">
    <h1 class="page-header text-center">Listado de imagenes </h1>
    <input class="form-control me-2" type="search"  placeholder="Search" aria-label="Search">
    <div class="row">
        <div class="col-md-4" *ngFor="let i of ListImage">
            <div class="card mt-4" style="width: 18rem;">
                <img class="card-img-top" src="{{i.thumbnailUrl}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{i.title}}</h5>
                    <p class="card-text">{{i.title}}</p>
                    <button [routerLink]="['/imagen_unica',i.id]" class="btn btn-primary">Detalles</button>
                </div>
            </div>
        </div>
<!-- [routerLink]="['/imagen_unica',i.id]" -->
    </div>
</div>